<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.accenture.subcontractor.job.persistence.CertificateMapper">
  <resultMap id="BaseResultMap" type="com.accenture.subcontractor.job.domain.Certificate">
    <id column="CERTIFICATE_ID" jdbcType="CHAR" property="certificateId" />
    <result column="EDUCATION_RESUME_ID" jdbcType="CHAR" property="educationResumeId" />
    <result column="CERTIFICATE_NAME" jdbcType="VARCHAR" property="certificateName" />
    <result column="CERTIFICATE_CODE" jdbcType="CHAR" property="certificateCode" />
    <result column="CERTIFICATE_IMAGE" jdbcType="CHAR" property="certificateImage" />
    <result column="AWARD_ORGAN" jdbcType="VARCHAR" property="awardOrgan" />
    <result column="CERTIFICATE_TYPE" jdbcType="VARCHAR" property="certificateType" />
    <result column="AWARD_DATE" jdbcType="DATE" property="awardDate" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    CERTIFICATE_ID, EDUCATION_RESUME_ID, CERTIFICATE_NAME, CERTIFICATE_CODE, CERTIFICATE_IMAGE, 
    AWARD_ORGAN, CERTIFICATE_TYPE, AWARD_DATE, CREATE_TIME
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tpt_certificate
    where CERTIFICATE_ID = #{certificateId,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from tpt_certificate
    where CERTIFICATE_ID = #{certificateId,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.accenture.subcontractor.job.domain.Certificate">
    insert into tpt_certificate (CERTIFICATE_ID, EDUCATION_RESUME_ID, CERTIFICATE_NAME, 
      CERTIFICATE_CODE, CERTIFICATE_IMAGE, AWARD_ORGAN, 
      CERTIFICATE_TYPE, AWARD_DATE, CREATE_TIME
      )
    values (#{certificateId,jdbcType=CHAR}, #{educationResumeId,jdbcType=CHAR}, #{certificateName,jdbcType=VARCHAR}, 
      #{certificateCode,jdbcType=CHAR}, #{certificateImage,jdbcType=CHAR}, #{awardOrgan,jdbcType=VARCHAR}, 
      #{certificateType,jdbcType=VARCHAR}, #{awardDate,jdbcType=DATE}, #{createTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.accenture.subcontractor.job.domain.Certificate">
    insert into tpt_certificate
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="certificateId != null">
        CERTIFICATE_ID,
      </if>
      <if test="educationResumeId != null">
        EDUCATION_RESUME_ID,
      </if>
      <if test="certificateName != null">
        CERTIFICATE_NAME,
      </if>
      <if test="certificateCode != null">
        CERTIFICATE_CODE,
      </if>
      <if test="certificateImage != null">
        CERTIFICATE_IMAGE,
      </if>
      <if test="awardOrgan != null">
        AWARD_ORGAN,
      </if>
      <if test="certificateType != null">
        CERTIFICATE_TYPE,
      </if>
      <if test="awardDate != null">
        AWARD_DATE,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="certificateId != null">
        #{certificateId,jdbcType=CHAR},
      </if>
      <if test="educationResumeId != null">
        #{educationResumeId,jdbcType=CHAR},
      </if>
      <if test="certificateName != null">
        #{certificateName,jdbcType=VARCHAR},
      </if>
      <if test="certificateCode != null">
        #{certificateCode,jdbcType=CHAR},
      </if>
      <if test="certificateImage != null">
        #{certificateImage,jdbcType=CHAR},
      </if>
      <if test="awardOrgan != null">
        #{awardOrgan,jdbcType=VARCHAR},
      </if>
      <if test="certificateType != null">
        #{certificateType,jdbcType=VARCHAR},
      </if>
      <if test="awardDate != null">
        #{awardDate,jdbcType=DATE},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.accenture.subcontractor.job.domain.Certificate">
    update tpt_certificate
    <set>
      <if test="educationResumeId != null">
        EDUCATION_RESUME_ID = #{educationResumeId,jdbcType=CHAR},
      </if>
      <if test="certificateName != null">
        CERTIFICATE_NAME = #{certificateName,jdbcType=VARCHAR},
      </if>
      <if test="certificateCode != null">
        CERTIFICATE_CODE = #{certificateCode,jdbcType=CHAR},
      </if>
      <if test="certificateImage != null">
        CERTIFICATE_IMAGE = #{certificateImage,jdbcType=CHAR},
      </if>
      <if test="awardOrgan != null">
        AWARD_ORGAN = #{awardOrgan,jdbcType=VARCHAR},
      </if>
      <if test="certificateType != null">
        CERTIFICATE_TYPE = #{certificateType,jdbcType=VARCHAR},
      </if>
      <if test="awardDate != null">
        AWARD_DATE = #{awardDate,jdbcType=DATE},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where CERTIFICATE_ID = #{certificateId,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.accenture.subcontractor.job.domain.Certificate">
    update tpt_certificate
    set EDUCATION_RESUME_ID = #{educationResumeId,jdbcType=CHAR},
      CERTIFICATE_NAME = #{certificateName,jdbcType=VARCHAR},
      CERTIFICATE_CODE = #{certificateCode,jdbcType=CHAR},
      CERTIFICATE_IMAGE = #{certificateImage,jdbcType=CHAR},
      AWARD_ORGAN = #{awardOrgan,jdbcType=VARCHAR},
      CERTIFICATE_TYPE = #{certificateType,jdbcType=VARCHAR},
      AWARD_DATE = #{awardDate,jdbcType=DATE},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP}
    where CERTIFICATE_ID = #{certificateId,jdbcType=CHAR}
  </update>
</mapper>