<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.accenture.subcontractor.job.persistence.OrganizationMapper">
  <resultMap id="BaseResultMap" type="com.accenture.subcontractor.job.domain.Organization">
    <id column="ORGAN_ID" jdbcType="CHAR" property="organId" />
    <result column="PARENT_ID" jdbcType="CHAR" property="parentId" />
    <result column="ORGAN_NAME" jdbcType="VARCHAR" property="organName" />
    <result column="ROLE_ID" jdbcType="CHAR" property="roleId" />
    <result column="PERMISSION_ID" jdbcType="CHAR" property="permissionId" />
    <result column="DELETE_FLAG" jdbcType="CHAR" property="deleteFlag" />
    <result column="CREATOR" jdbcType="CHAR" property="creator" />
    <result column="LAST_UPDATE_PERSON" jdbcType="CHAR" property="lastUpdatePerson" />
    <result column="LAST_UPDATE_TIME" jdbcType="TIMESTAMP" property="lastUpdateTime" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    ORGAN_ID, PARENT_ID, ORGAN_NAME, ROLE_ID, PERMISSION_ID, DELETE_FLAG, CREATOR, LAST_UPDATE_PERSON, 
    LAST_UPDATE_TIME, CREATE_TIME
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tpt_organization
    where ORGAN_ID = #{organId,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from tpt_organization
    where ORGAN_ID = #{organId,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.accenture.subcontractor.job.domain.Organization">
    insert into tpt_organization (ORGAN_ID, PARENT_ID, ORGAN_NAME, 
      ROLE_ID, PERMISSION_ID, DELETE_FLAG, 
      CREATOR, LAST_UPDATE_PERSON, LAST_UPDATE_TIME, 
      CREATE_TIME)
    values (#{organId,jdbcType=CHAR}, #{parentId,jdbcType=CHAR}, #{organName,jdbcType=VARCHAR}, 
      #{roleId,jdbcType=CHAR}, #{permissionId,jdbcType=CHAR}, #{deleteFlag,jdbcType=CHAR}, 
      #{creator,jdbcType=CHAR}, #{lastUpdatePerson,jdbcType=CHAR}, #{lastUpdateTime,jdbcType=TIMESTAMP}, 
      #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.accenture.subcontractor.job.domain.Organization">
    insert into tpt_organization
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="organId != null">
        ORGAN_ID,
      </if>
      <if test="parentId != null">
        PARENT_ID,
      </if>
      <if test="organName != null">
        ORGAN_NAME,
      </if>
      <if test="roleId != null">
        ROLE_ID,
      </if>
      <if test="permissionId != null">
        PERMISSION_ID,
      </if>
      <if test="deleteFlag != null">
        DELETE_FLAG,
      </if>
      <if test="creator != null">
        CREATOR,
      </if>
      <if test="lastUpdatePerson != null">
        LAST_UPDATE_PERSON,
      </if>
      <if test="lastUpdateTime != null">
        LAST_UPDATE_TIME,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="organId != null">
        #{organId,jdbcType=CHAR},
      </if>
      <if test="parentId != null">
        #{parentId,jdbcType=CHAR},
      </if>
      <if test="organName != null">
        #{organName,jdbcType=VARCHAR},
      </if>
      <if test="roleId != null">
        #{roleId,jdbcType=CHAR},
      </if>
      <if test="permissionId != null">
        #{permissionId,jdbcType=CHAR},
      </if>
      <if test="deleteFlag != null">
        #{deleteFlag,jdbcType=CHAR},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=CHAR},
      </if>
      <if test="lastUpdatePerson != null">
        #{lastUpdatePerson,jdbcType=CHAR},
      </if>
      <if test="lastUpdateTime != null">
        #{lastUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.accenture.subcontractor.job.domain.Organization">
    update tpt_organization
    <set>
      <if test="parentId != null">
        PARENT_ID = #{parentId,jdbcType=CHAR},
      </if>
      <if test="organName != null">
        ORGAN_NAME = #{organName,jdbcType=VARCHAR},
      </if>
      <if test="roleId != null">
        ROLE_ID = #{roleId,jdbcType=CHAR},
      </if>
      <if test="permissionId != null">
        PERMISSION_ID = #{permissionId,jdbcType=CHAR},
      </if>
      <if test="deleteFlag != null">
        DELETE_FLAG = #{deleteFlag,jdbcType=CHAR},
      </if>
      <if test="creator != null">
        CREATOR = #{creator,jdbcType=CHAR},
      </if>
      <if test="lastUpdatePerson != null">
        LAST_UPDATE_PERSON = #{lastUpdatePerson,jdbcType=CHAR},
      </if>
      <if test="lastUpdateTime != null">
        LAST_UPDATE_TIME = #{lastUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ORGAN_ID = #{organId,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.accenture.subcontractor.job.domain.Organization">
    update tpt_organization
    set PARENT_ID = #{parentId,jdbcType=CHAR},
      ORGAN_NAME = #{organName,jdbcType=VARCHAR},
      ROLE_ID = #{roleId,jdbcType=CHAR},
      PERMISSION_ID = #{permissionId,jdbcType=CHAR},
      DELETE_FLAG = #{deleteFlag,jdbcType=CHAR},
      CREATOR = #{creator,jdbcType=CHAR},
      LAST_UPDATE_PERSON = #{lastUpdatePerson,jdbcType=CHAR},
      LAST_UPDATE_TIME = #{lastUpdateTime,jdbcType=TIMESTAMP},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP}
    where ORGAN_ID = #{organId,jdbcType=CHAR}
  </update>
</mapper>