<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.accenture.subcontractor.job.persistence.ProjectsDescMapper">
	<resultMap id="BaseResultMap" type="com.accenture.subcontractor.job.domain.ProjectsDesc">
		<id column="PROJECT_DESCR_ID" jdbcType="CHAR" property="projectDescrId" />
		<result column="START_DATE" jdbcType="DATE" property="startDate" />
		<result column="END_DATE" jdbcType="DATE" property="endDate" />
		<result column="PROJECT_DESCR" jdbcType="VARCHAR" property="projectDescr" />
		<result column="PROJECT_RESUME_ID" jdbcType="CHAR" property="projectResumeId" />
		<result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
		<result column="DELETE_FLAG" jdbcType="CHAR" property="deleteFlag" />
		<result column="LAST_UPDATE_PERSON" jdbcType="CHAR" property="lastUpdatePerson" />
		<result column="LAST_UPDATE_TIME" jdbcType="TIMESTAMP" property="lastUpdateTime" />
		<result column="CREATOR" jdbcType="CHAR" property="creator" />
	</resultMap>
	<sql id="Base_Column_List">
		PROJECT_DESCR_ID, START_DATE, END_DATE, PROJECT_DESCR, PROJECT_RESUME_ID, CREATE_TIME,
		DELETE_FLAG, LAST_UPDATE_PERSON, LAST_UPDATE_TIME, CREATOR
	</sql>
	<select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from tsc_projects_desc
		where PROJECT_DESCR_ID = #{projectDescrId,jdbcType=CHAR}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from tsc_projects_desc
		where PROJECT_DESCR_ID = #{projectDescrId,jdbcType=CHAR}
	</delete>
	<insert id="insert" parameterType="com.accenture.subcontractor.job.domain.ProjectsDesc">
		insert into tsc_projects_desc (PROJECT_DESCR_ID, START_DATE, END_DATE,
		PROJECT_DESCR, PROJECT_RESUME_ID, CREATE_TIME,
		DELETE_FLAG, LAST_UPDATE_PERSON,
		LAST_UPDATE_TIME,
		CREATOR)
		values (#{projectDescrId,jdbcType=CHAR}, #{startDate,jdbcType=DATE}, #{endDate,jdbcType=DATE},
		#{projectDescr,jdbcType=VARCHAR}, #{projectResumeId,jdbcType=CHAR},
		#{createTime,jdbcType=TIMESTAMP},
		#{deleteFlag,jdbcType=CHAR}, #{lastUpdatePerson,jdbcType=CHAR}, #{lastUpdateTime,jdbcType=TIMESTAMP},
		#{creator,jdbcType=CHAR})
	</insert>
	<insert id="insertSelective" parameterType="com.accenture.subcontractor.job.domain.ProjectsDesc">
		insert into tsc_projects_desc
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="projectDescrId != null">
				PROJECT_DESCR_ID,
			</if>
			<if test="startDate != null">
				START_DATE,
			</if>
			<if test="endDate != null">
				END_DATE,
			</if>
			<if test="projectDescr != null">
				PROJECT_DESCR,
			</if>
			<if test="projectResumeId != null">
				PROJECT_RESUME_ID,
			</if>
			<if test="createTime != null">
				CREATE_TIME,
			</if>
			<if test="deleteFlag != null">
				DELETE_FLAG,
			</if>
			<if test="lastUpdatePerson != null">
				LAST_UPDATE_PERSON,
			</if>
			<if test="lastUpdateTime != null">
				LAST_UPDATE_TIME,
			</if>
			<if test="creator != null">
				CREATOR,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="projectDescrId != null">
				#{projectDescrId,jdbcType=CHAR},
			</if>
			<if test="startDate != null">
				#{startDate,jdbcType=DATE},
			</if>
			<if test="endDate != null">
				#{endDate,jdbcType=DATE},
			</if>
			<if test="projectDescr != null">
				#{projectDescr,jdbcType=VARCHAR},
			</if>
			<if test="projectResumeId != null">
				#{projectResumeId,jdbcType=CHAR},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="deleteFlag != null">
				#{deleteFlag,jdbcType=CHAR},
			</if>
			<if test="lastUpdatePerson != null">
				#{lastUpdatePerson,jdbcType=CHAR},
			</if>
			<if test="lastUpdateTime != null">
				#{lastUpdateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="creator != null">
				#{creator,jdbcType=CHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.accenture.subcontractor.job.domain.ProjectsDesc">
		update tsc_projects_desc
		<set>
			<if test="startDate != null">
				START_DATE = #{startDate,jdbcType=DATE},
			</if>
			<if test="endDate != null">
				END_DATE = #{endDate,jdbcType=DATE},
			</if>
			<if test="projectDescr != null">
				PROJECT_DESCR = #{projectDescr,jdbcType=VARCHAR},
			</if>
			<if test="projectResumeId != null">
				PROJECT_RESUME_ID = #{projectResumeId,jdbcType=CHAR},
			</if>
			<if test="createTime != null">
				CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="deleteFlag != null">
				DELETE_FLAG = #{deleteFlag,jdbcType=CHAR},
			</if>
			<if test="lastUpdatePerson != null">
				LAST_UPDATE_PERSON = #{lastUpdatePerson,jdbcType=CHAR},
			</if>
			<if test="lastUpdateTime != null">
				LAST_UPDATE_TIME = #{lastUpdateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="creator != null">
				CREATOR = #{creator,jdbcType=CHAR},
			</if>
		</set>
		where PROJECT_DESCR_ID = #{projectDescrId,jdbcType=CHAR}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.accenture.subcontractor.job.domain.ProjectsDesc">
		update tsc_projects_desc
		set START_DATE = #{startDate,jdbcType=DATE},
		END_DATE = #{endDate,jdbcType=DATE},
		PROJECT_DESCR =
		#{projectDescr,jdbcType=VARCHAR},
		PROJECT_RESUME_ID = #{projectResumeId,jdbcType=CHAR},
		CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
		DELETE_FLAG = #{deleteFlag,jdbcType=CHAR},
		LAST_UPDATE_PERSON =
		#{lastUpdatePerson,jdbcType=CHAR},
		LAST_UPDATE_TIME = #{lastUpdateTime,jdbcType=TIMESTAMP},
		CREATOR = #{creator,jdbcType=CHAR}
		where PROJECT_DESCR_ID = #{projectDescrId,jdbcType=CHAR}
	</update>
	<insert id="insertBatch" parameterType="java.util.List">
		insert into tsc_projects_desc (PROJECT_DESCR_ID, START_DATE, END_DATE,
		PROJECT_DESCR, PROJECT_RESUME_ID, CREATE_TIME,
		DELETE_FLAG, LAST_UPDATE_PERSON, LAST_UPDATE_TIME,
		CREATOR)
		values
		<foreach collection="list" item="item" separator=",">
			(#{item.projectDescrId,jdbcType=CHAR},
			#{item.startDate,jdbcType=DATE},
			#{item.endDate,jdbcType=DATE},
			#{item.projectDescr,jdbcType=VARCHAR},
			#{item.projectResumeId,jdbcType=CHAR},
			#{item.createTime,jdbcType=TIMESTAMP},
			#{item.deleteFlag,jdbcType=CHAR},
			#{item.lastUpdatePerson,jdbcType=CHAR},
			#{item.lastUpdateTime,jdbcType=TIMESTAMP},
			#{item.creator,jdbcType=CHAR})
		</foreach>
	</insert>
	<delete id="deleteBatch" parameterType="java.util.List">
		delete from tsc_projects_desc
		where PROJECT_DESCR_ID in
		<foreach collection="list" item="item" separator="," open="(" close=")">
			#{item.projectDescrId,jdbcType=CHAR}
		</foreach>
	</delete>
	<update id="updateBatch" parameterType="java.util.List">
		<foreach collection="list" item="item" separator=";">
			update tsc_projects_desc
			<set>
				<if test="item.startDate != null">
					START_DATE = #{item.startDate,jdbcType=DATE},
				</if>
				<if test="item.endDate != null">
					END_DATE = #{item.endDate,jdbcType=DATE},
				</if>
				<if test="item.projectDescr != null">
					PROJECT_DESCR = #{item.projectDescr,jdbcType=VARCHAR},
				</if>
				<if test="item.projectResumeId != null">
					PROJECT_RESUME_ID = #{item.projectResumeId,jdbcType=CHAR},
				</if>
				<if test="item.createTime != null">
					CREATE_TIME = #{item.createTime,jdbcType=TIMESTAMP},
				</if>
				<if test="item.deleteFlag != null">
					DELETE_FLAG = #{item.deleteFlag,jdbcType=CHAR},
				</if>
				<if test="item.lastUpdatePerson != null">
					LAST_UPDATE_PERSON = #{item.lastUpdatePerson,jdbcType=CHAR},
				</if>
				<if test="item.lastUpdateTime != null">
					LAST_UPDATE_TIME = #{item.lastUpdateTime,jdbcType=TIMESTAMP},
				</if>
				<if test="item.creator != null">
					CREATOR = #{item.creator,jdbcType=CHAR},
				</if>
			</set>
			where PROJECT_DESCR_ID = #{item.projectDescrId,jdbcType=CHAR}
		</foreach>
	</update>
</mapper>