<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.accenture.subcontractor.job.persistence.ProjectsDutyMapper">
	<resultMap id="BaseResultMap"
		type="com.accenture.subcontractor.job.domain.ProjectsDuty">
		<id column="PROJECT_RESPONSIBILITY_ID" jdbcType="CHAR"
			property="projectResponsibilityId" />
		<result column="START_DATE" jdbcType="DATE" property="startDate" />
		<result column="END_DATE" jdbcType="DATE" property="endDate" />
		<result column="RESPONSIBILITY_DESCR" jdbcType="VARCHAR"
			property="responsibilityDescr" />
		<result column="PROJECT_RESUME_ID" jdbcType="CHAR" property="projectResumeId" />
		<result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
		<result column="POST" jdbcType="VARCHAR" property="post" />
		<result column="DEPARTMENT" jdbcType="VARCHAR" property="department" />
	</resultMap>
	<sql id="Base_Column_List">
		PROJECT_RESPONSIBILITY_ID, START_DATE, END_DATE, RESPONSIBILITY_DESCR, PROJECT_RESUME_ID,
		CREATE_TIME, POST, DEPARTMENT
	</sql>
	<select id="selectByPrimaryKey" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from tsc_projects_duty
		where PROJECT_RESPONSIBILITY_ID = #{projectResponsibilityId,jdbcType=CHAR}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from tsc_projects_duty
		where PROJECT_RESPONSIBILITY_ID = #{projectResponsibilityId,jdbcType=CHAR}
	</delete>
	<insert id="insert" parameterType="com.accenture.subcontractor.job.domain.ProjectsDuty">
		insert into tsc_projects_duty (PROJECT_RESPONSIBILITY_ID, START_DATE,
		END_DATE,
		RESPONSIBILITY_DESCR, PROJECT_RESUME_ID, CREATE_TIME,
		POST, DEPARTMENT)
		values (#{projectResponsibilityId,jdbcType=CHAR},
		#{startDate,jdbcType=DATE}, #{endDate,jdbcType=DATE},
		#{responsibilityDescr,jdbcType=VARCHAR},
		#{projectResumeId,jdbcType=CHAR}, #{createTime,jdbcType=TIMESTAMP},
		#{post,jdbcType=VARCHAR}, #{department,jdbcType=VARCHAR})
	</insert>
	<insert id="insertSelective" parameterType="com.accenture.subcontractor.job.domain.ProjectsDuty">
		insert into tsc_projects_duty
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="projectResponsibilityId != null">
				PROJECT_RESPONSIBILITY_ID,
			</if>
			<if test="startDate != null">
				START_DATE,
			</if>
			<if test="endDate != null">
				END_DATE,
			</if>
			<if test="responsibilityDescr != null">
				RESPONSIBILITY_DESCR,
			</if>
			<if test="projectResumeId != null">
				PROJECT_RESUME_ID,
			</if>
			<if test="createTime != null">
				CREATE_TIME,
			</if>
			<if test="post != null">
				POST,
			</if>
			<if test="department != null">
				DEPARTMENT,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="projectResponsibilityId != null">
				#{projectResponsibilityId,jdbcType=CHAR},
			</if>
			<if test="startDate != null">
				#{startDate,jdbcType=DATE},
			</if>
			<if test="endDate != null">
				#{endDate,jdbcType=DATE},
			</if>
			<if test="responsibilityDescr != null">
				#{responsibilityDescr,jdbcType=VARCHAR},
			</if>
			<if test="projectResumeId != null">
				#{projectResumeId,jdbcType=CHAR},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="post != null">
				#{post,jdbcType=VARCHAR},
			</if>
			<if test="department != null">
				#{department,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.accenture.subcontractor.job.domain.ProjectsDuty">
		update tsc_projects_duty
		<set>
			<if test="startDate != null">
				START_DATE = #{startDate,jdbcType=DATE},
			</if>
			<if test="endDate != null">
				END_DATE = #{endDate,jdbcType=DATE},
			</if>
			<if test="responsibilityDescr != null">
				RESPONSIBILITY_DESCR = #{responsibilityDescr,jdbcType=VARCHAR},
			</if>
			<if test="projectResumeId != null">
				PROJECT_RESUME_ID = #{projectResumeId,jdbcType=CHAR},
			</if>
			<if test="createTime != null">
				CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="post != null">
				POST = #{post,jdbcType=VARCHAR},
			</if>
			<if test="department != null">
				DEPARTMENT = #{department,jdbcType=VARCHAR},
			</if>
		</set>
		where PROJECT_RESPONSIBILITY_ID =
		#{projectResponsibilityId,jdbcType=CHAR}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.accenture.subcontractor.job.domain.ProjectsDuty">
		update tsc_projects_duty
		set START_DATE = #{startDate,jdbcType=DATE},
		END_DATE = #{endDate,jdbcType=DATE},
		RESPONSIBILITY_DESCR = #{responsibilityDescr,jdbcType=VARCHAR},
		PROJECT_RESUME_ID = #{projectResumeId,jdbcType=CHAR},
		CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
		POST = #{post,jdbcType=VARCHAR},
		DEPARTMENT = #{department,jdbcType=VARCHAR}
		where PROJECT_RESPONSIBILITY_ID = #{projectResponsibilityId,jdbcType=CHAR}
	</update>
	<update id="updateBatch" parameterType="java.util.List">

	</update>
	<insert id="insertBatch" parameterType="java.util.List">

	</insert>
	<delete id="deleteBatch" parameterType="java.util.List">

	</delete>
</mapper>