<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.accenture.subcontractor.job.persistence.SkillTypeMapper">
	<resultMap id="BaseResultMap" type="com.accenture.subcontractor.job.domain.SkillType">
		<id column="SKILL_ID" jdbcType="CHAR" property="skillId" />
		<result column="SKILL_NAME" jdbcType="VARCHAR" property="skillName" />
		<result column="COLOR" jdbcType="CHAR" property="color" />
		<result column="PARENT_SKILL_ID" jdbcType="CHAR" property="parentSkillId" />
		<result column="LEVEL" jdbcType="CHAR" property="level" />
	</resultMap>
	<sql id="Base_Column_List">
		SKILL_ID, SKILL_NAME, COLOR ,PARENT_SKILL_ID,LEVEL
	</sql>
	<select id="queryListByIds" parameterType="java.util.List" resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column_List"></include>
		FROM tpt_skill_type T
		WHERE T.SKILL_ID in
		<foreach collection="list" item="item" open="(" close=")" separator=",">
			#{item.skillId,jdbcType=CHAR}
		</foreach>
	</select>
	<select id="listChildSkill" resultMap="BaseResultMap" parameterType="java.lang.String">
		select
		<include refid="Base_Column_List"></include>
		from tpt_skill_type T
		where 1=1
		<if test="skillId!=null and skillId!=''">
			and EXISTS(
			SELECT 1 from tpt_skill_type W
			where w.SKILL_ID = #{skillId,jdbcType,VARCHAR}
			AND W.SKILL_ID = T.PARENT_SKILL_ID
			)
		</if>
	</select>

	<select id="querySkillRootList" resultMap="BaseResultMap" parameterType="com.accenture.subcontractor.job.domain.SkillType">
		select * from tpt_skill_type T
		where 1=1 and t.PARENT_SKILL_ID is NULL and t.LEVEL='1'
	</select>
	<select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from tpt_skill_type
		where SKILL_ID = #{skillId,jdbcType=CHAR}
	</select>
	<select id="selectSkillTypeByName" parameterType="java.lang.String" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from tpt_skill_type
		where 1=1
		<if test="skillName != null">
			and SKILL_NAME like concat('%',#{skillName,jdbcType=VARCHAR},'%')
		</if>
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from tpt_skill_type
		where SKILL_ID = #{skillId,jdbcType=CHAR}
	</delete>
	<insert id="insert" parameterType="com.accenture.subcontractor.job.domain.SkillType">
		insert into tpt_skill_type (SKILL_ID, SKILL_NAME, COLOR ,PARENT_SKILL_ID,LEVEL
		)
		values (#{skillId,jdbcType=CHAR}, #{skillName,jdbcType=VARCHAR},
		#{color,jdbcType=CHAR},#{parentSkillId,jdbcType=VARCHAR}, #{level,jdbcType=CHAR}
		)
	</insert>

	<insert id="insertSelective" parameterType="com.accenture.subcontractor.job.domain.SkillType">
		insert into tpt_skill_type
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="skillId != null">
				SKILL_ID,
			</if>
			<if test="skillName != null">
				SKILL_NAME,
			</if>
			<if test="color != null">
				COLOR,
			</if>
			<if test="parentSkillId != null">
				PARENT_SKILL_ID,
			</if>
			<if test="level != null">
				LEVEL,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="skillId != null">
				#{skillId,jdbcType=CHAR},
			</if>
			<if test="skillName != null">
				#{skillName,jdbcType=VARCHAR},
			</if>
			<if test="color != null">
				#{color,jdbcType=CHAR},
			</if>
			<if test="parentSkillId != null">
				#{parentSkillId,jdbcType=VARCHAR},
			</if>
			<if test="level != null">
				#{level,jdbcType=CHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.accenture.subcontractor.job.domain.SkillType">
		update tpt_skill_type
		<set>
			<if test="skillName != null">
				SKILL_NAME = #{skillName,jdbcType=VARCHAR},
			</if>
			<if test="color != null">
				COLOR = #{color,jdbcType=CHAR},
			</if>
		</set>
		where SKILL_ID = #{skillId,jdbcType=CHAR}
	</update>
	<update id="updateByName" parameterType="com.accenture.subcontractor.job.domain.SkillType">
		update tpt_skill_type
		<set>
			<if test="color != null">
				COLOR = #{color,jdbcType=CHAR},
			</if>
			<if test="parentSkillId != null">
				PARENT_SKILL_ID = #{parentSkillId,jdbcType=CHAR},
			</if>
			<if test="level != null">
				LEVEL=#{level,jdbcType=CHAR},
			</if>
		</set>
		where 1=1
		<if test="skillName != null">
			and SKILL_NAME= #{skillName,jdbcType=VARCHAR},
		</if>
	</update>
	<update id="updateByPrimaryKey" parameterType="com.accenture.subcontractor.job.domain.SkillType">
		update tpt_skill_type
		set SKILL_NAME = #{skillName,jdbcType=VARCHAR},
		COLOR = #{color,jdbcType=CHAR}
		where SKILL_ID = #{skillId,jdbcType=CHAR}
	</update>
</mapper>