<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.accenture.subcontractor.job.persistence.SkillMapper">
	<resultMap id="BaseResultMap" type="com.accenture.subcontractor.job.domain.Skill">
		<id column="PROFESSION_SKILL_ID" jdbcType="CHAR" property="professionSkillId" />
		<result column="SKILL_ID" jdbcType="CHAR" property="skillId" />
		<result column="BELONG_ID" jdbcType="CHAR" property="belongId" />
		<result column="USER_ID" jdbcType="CHAR" property="userId" />
		<result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
		<result column="LEVEL" jdbcType="CHAR" property="level" />
	</resultMap>
	<sql id="Base_Column_List">
		PROFESSION_SKILL_ID, SKILL_ID, BELONG_ID, USER_ID, CREATE_TIME, LEVEL
	</sql>
	<select id="selectByPrimaryKey" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from tpt_skill
		where PROFESSION_SKILL_ID = #{professionSkillId,jdbcType=CHAR}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from tpt_skill
		where PROFESSION_SKILL_ID = #{professionSkillId,jdbcType=CHAR}
	</delete>
	<insert id="insert" parameterType="com.accenture.subcontractor.job.domain.Skill">
		insert into tpt_skill (PROFESSION_SKILL_ID, SKILL_ID, BELONG_ID,
		USER_ID, CREATE_TIME, LEVEL
		)
		values (#{professionSkillId,jdbcType=CHAR}, #{skillId,jdbcType=CHAR},
		#{belongId,jdbcType=CHAR},
		#{userId,jdbcType=CHAR}, #{createTime,jdbcType=TIMESTAMP}, #{level,jdbcType=CHAR}
		)
	</insert>
	<insert id="insertSelective" parameterType="com.accenture.subcontractor.job.domain.Skill">
		insert into tpt_skill
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="professionSkillId != null">
				PROFESSION_SKILL_ID,
			</if>
			<if test="skillId != null">
				SKILL_ID,
			</if>
			<if test="belongId != null">
				BELONG_ID,
			</if>
			<if test="userId != null">
				USER_ID,
			</if>
			<if test="createTime != null">
				CREATE_TIME,
			</if>
			<if test="level != null">
				LEVEL,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="professionSkillId != null">
				#{professionSkillId,jdbcType=CHAR},
			</if>
			<if test="skillId != null">
				#{skillId,jdbcType=CHAR},
			</if>
			<if test="belongId != null">
				#{belongId,jdbcType=CHAR},
			</if>
			<if test="userId != null">
				#{userId,jdbcType=CHAR},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="level != null">
				#{level,jdbcType=CHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.accenture.subcontractor.job.domain.Skill">
		update tpt_skill
		<set>
			<if test="skillId != null">
				SKILL_ID = #{skillId,jdbcType=CHAR},
			</if>
			<if test="belongId != null">
				BELONG_ID = #{belongId,jdbcType=CHAR},
			</if>
			<if test="userId != null">
				USER_ID = #{userId,jdbcType=CHAR},
			</if>
			<if test="createTime != null">
				CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="level != null">
				LEVEL = #{level,jdbcType=CHAR},
			</if>
		</set>
		where PROFESSION_SKILL_ID = #{professionSkillId,jdbcType=CHAR}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.accenture.subcontractor.job.domain.Skill">
		update tpt_skill
		set SKILL_ID = #{skillId,jdbcType=CHAR},
		BELONG_ID = #{belongId,jdbcType=CHAR},
		USER_ID = #{userId,jdbcType=CHAR},
		CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
		LEVEL = #{level,jdbcType=CHAR}
		where PROFESSION_SKILL_ID = #{professionSkillId,jdbcType=CHAR}
	</update>
	<update id="updateBatch" parameterType="java.util.List">

	</update>
	<insert id="insertBatch" parameterType="java.util.List">

	</insert>
	<delete id="deleteBatch" parameterType="java.util.List">

	</delete>
</mapper>